templates/CopyPreprocessBackup1/CopyPreprocessBackup1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureBatch1": {
			"type": "string"
		},
		"AzureBlobStorage1": {
			"type": "string"
		},
		"AzureSqlDatabase1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPreprocessBackup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Backup CSV Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ""
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ALLCSV",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ALLCSVBackup",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Preprocess Data",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Backup CSV Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "@/bin/bash -c \"/bin/bash environment.sh && /bin/bash process.sh -s 'https://carbontestcz.blob.core.windows.net/carbonpreprocesssrc/*?sv=2020-04-08&st=2021-06-23T05%3A43%3A18Z&se=2021-07-31T05%3A43%3A00Z&sr=c&sp=racwdxlt&sig=uWQrFP4pLF%2FKpLj7SP7jHp8TzuMI457EtPGshe2iGuc%3D' -i 'https://carbonmapinput.blob.core.windows.net/rawdata/CM_CO2_Emissions/*?sv=2020-04-08&st=2021-06-23T05%3A40%3A43Z&se=2021-07-31T05%3A40%3A00Z&sr=c&sp=rl&sig=AMPbUvCrJDWduDa9IF3qYdikAmD0ofu94w9TOO9lgsk%3D' -o 'https://carbontestcz.blob.core.windows.net/carbondatacsv?sv=2020-04-08&st=2021-06-23T05%3A43%3A53Z&se=2021-07-31T05%3A43%3A00Z&sr=c&sp=racwdxlt&sig=OgsWxbDN%2FZMC%2FPUh%2BH%2FcTFiQUKd%2FoQMv%2BTHsc3ckbAs%3D' -t uvw\"",
								"type": "Expression"
							},
							"extendedProperties": {
								"test": "1"
							},
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('AzureBatch1')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy to SQL Carbon Data World",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Preprocess Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "SET @Table = 'carbon_data_world'\nDECLARE @Date NVARCHAR(16), @Query NVARCHAR(64)\nSELECT @Date = FORMAT(GETDATE(), 'yyyy_MM_dd')\nSET @Query = 'EXEC sp_rename ''' + @Table + ''',''' + @Table + '_backup_' + @Date + ''''\nEXEC (@Query)",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CountryRegion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryRegion",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sector",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sector",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "RateOfChange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RateOfChange",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVCarbonDataWorld",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLCarbonDataWorld",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy to SQL Covid Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Preprocess Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "SET @Table = 'covid_data'\nDECLARE @Date NVARCHAR(16), @Query NVARCHAR(64)\nSELECT @Date = FORMAT(GETDATE(), 'yyyy_MM_dd')\nSET @Query = 'EXEC sp_rename ''' + @Table + ''',''' + @Table + '_backup_' + @Date + ''''\nEXEC (@Query)",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "CountryRegion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryRegion",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Confirmed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Confirmed",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Deaths",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deaths",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Stringency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stringency",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVCovidData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLCovidData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy to SQL Carbon Data US",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Preprocess Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "SET @Table = 'carbon_data_us'\nDECLARE @Date NVARCHAR(16), @Query NVARCHAR(64)\nSELECT @Date = FORMAT(GETDATE(), 'yyyy_MM_dd')\nSET @Query = 'EXEC sp_rename ''' + @Table + ''',''' + @Table + '_backup_' + @Date + ''''\nEXEC (@Query)",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sector",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sector",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "RateOfChange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RateOfChange",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVCarbonDataUS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLCarbonDataUS",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ALLCSV')]",
				"[concat(variables('factoryId'), '/datasets/ALLCSVBackup')]",
				"[concat(variables('factoryId'), '/datasets/CSVCarbonDataWorld')]",
				"[concat(variables('factoryId'), '/datasets/SQLCarbonDataWorld')]",
				"[concat(variables('factoryId'), '/datasets/CSVCovidData')]",
				"[concat(variables('factoryId'), '/datasets/SQLCovidData')]",
				"[concat(variables('factoryId'), '/datasets/CSVCarbonDataUS')]",
				"[concat(variables('factoryId'), '/datasets/SQLCarbonDataUS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALLCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "carbondatacsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALLCSVBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVCarbonDataWorld')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CarbonDataWorld.csv",
						"container": "carbondatacsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CountryRegion",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "RateOfChange",
						"type": "String"
					},
					{
						"name": "Sector",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLCarbonDataWorld')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapSQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CountryRegion",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "varchar"
					},
					{
						"name": "Value",
						"type": "float",
						"precision": 15
					},
					{
						"name": "RateOfChange",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "carbon_data_world"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVCovidData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CovidData.csv",
						"container": "carbondatacsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Confirmed",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Deaths",
						"type": "String"
					},
					{
						"name": "Stringency",
						"type": "String"
					},
					{
						"name": "CountryRegion",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLCovidData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapSQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CountryRegion",
						"type": "varchar"
					},
					{
						"name": "Confirmed",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Deaths",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Stringency",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "covid_data"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVCarbonDataUS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CarbonDataUS.csv",
						"container": "carbondatacsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "RateOfChange",
						"type": "String"
					},
					{
						"name": "Sector",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLCarbonDataUS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapSQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "varchar"
					},
					{
						"name": "Value",
						"type": "float",
						"precision": 15
					},
					{
						"name": "RateOfChange",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "carbon_data_us"
				}
			},
			"dependsOn": []
		}
	]
}