ADFTutorialDataFactoryCZ/PartialArmTemplates/ArmTemplate_3_17_2021_17_31_29.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFTutorialDataFactoryCZ"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SQLPreprocessedDataBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapPreprocess"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@concat('preprocessed_data_backup_', formatDateTime(utcnow(), 'yyyy_MM_dd_hh_mm_ss'))",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPreprocessBackup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Backup CSV Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "CM_CO2_Emissions/CM_2020_Sectoral",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ALLCSV",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ALLCSVBackup",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Preprocess Data",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Backup SQL Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "/bin/bash -c \"azcopy copy 'https://carbontestcz.blob.core.windows.net/carbondatastaticv1?sv=2020-04-08&st=2021-03-17T06%3A21%3A49Z&se=2021-03-18T06%3A21%3A49Z&sr=c&sp=racwdxlt&sig=XkyCX1GCfUZW%2FhADYAmxTbeyWXP%2FVmezjuCYNj1BZhI%3D' './' --recursive && azcopy copy 'https://carbonmapinput.blob.core.windows.net/rawdata/CM_CO2_Emissions/CM_2020_Sectoral?sv=2020-04-08&st=2021-03-17T06%3A28%3A18Z&se=2021-03-18T06%3A28%3A18Z&sr=c&sp=rl&sig=1uMkuv0BETLSC201Y%2FmVUFgk5rPYqXwhi27FVRehIcM%3D' './' --recursive && mv carbondatastaticv1 Raw && mv CM_2020_Sectoral/* Raw\nrm -r CM_2020_Sectoral && mv Raw/process_data_v1.py ./ && python3 process_data_v1.py && azcopy copy 'Output/PreprocessedData.csv' 'https://carbontestcz.blob.core.windows.net/carbondatacsvv1?sv=2020-04-08&st=2021-03-17T06%3A35%3A15Z&se=2021-03-18T06%3A35%3A15Z&sr=c&sp=rawl&sig=OkPqzL%2Bjm%2B97wKlC0XiVFpzYRgX6YPdo2fC0aMfGL18%3D'\"",
								"type": "Expression"
							},
							"extendedProperties": {
								"ct": "ffff"
							},
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Backup SQL Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Backup CSV Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sector",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Sector",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Percentage",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Percentage",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLPreprocessedData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLPreprocessedDataBackup",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Preprocessed Data to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Preprocess Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from preprocessed_data",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sector",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sector",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Percentage",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVPreprocessedData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLPreprocessedData",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLPreprocessedDataBackup')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadCountryContinent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCountryContinentFromCSVToSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from country_continent",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "code_3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "continent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Continent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sub_region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubRegion",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVCountryContinent",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLCountryContinent",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}