ADFTutorialDataFactoryCZ/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFTutorialDataFactoryCZ"
		},
		"AzureBatch1_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch1'"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"CarbonMapInpusBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CarbonMapInpusBlobStorage'"
		},
		"AzureBlobStorage2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage2'"
		},
		"AzureBatch1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "carbondevtest"
		},
		"AzureBatch1_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": " https://carbondevtest.eastus.batch.azure.com"
		},
		"AzureBatch1_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "d1v2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SummaryV1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SummaryByCountry",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SummaryByCountry",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Aviation": {},
									"GroundTransport": {},
									"Industry": {},
									"Power": {},
									"Resindential": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "SummaryBySector",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SummaryBySector",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Aviation": {},
									"GroundTransport": {},
									"Industry": {},
									"Power": {},
									"Residential": {},
									"InternationalShipping": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SummaryByCountry')]",
				"[concat(variables('factoryId'), '/dataflows/SummaryBySector')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Aviation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CarbonMapInpusBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Aviation.csv",
						"folderPath": "CM_CO2_Emissions/CM_2020_Sectoral",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "China",
						"type": "String"
					},
					{
						"name": "India",
						"type": "String"
					},
					{
						"name": "US",
						"type": "String"
					},
					{
						"name": "EU27&UK",
						"type": "String"
					},
					{
						"name": "Russia",
						"type": "String"
					},
					{
						"name": "Japan",
						"type": "String"
					},
					{
						"name": "Brazil",
						"type": "String"
					},
					{
						"name": "ROW",
						"type": "String"
					},
					{
						"name": "InternationalAviation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CarbonMapInpusBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLSummaryByCountry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapView"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "China",
						"type": "float",
						"precision": 15
					},
					{
						"name": "India",
						"type": "float",
						"precision": 15
					},
					{
						"name": "US",
						"type": "float",
						"precision": 15
					},
					{
						"name": "EU27&UK",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Russia",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Japan",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Brazil",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "summary_by_countires"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLSummaryBySector')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapView"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Power",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Ground Transport",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Industry",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Residential",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Aviation",
						"type": "float",
						"precision": 15
					},
					{
						"name": "International Shipping",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Globe",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "summary_by_sector"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GroundTransport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CarbonMapInpusBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "GroundTransport.csv",
						"folderPath": "CM_CO2_Emissions/CM_2020_Sectoral",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "China",
						"type": "String"
					},
					{
						"name": "India",
						"type": "String"
					},
					{
						"name": "US",
						"type": "String"
					},
					{
						"name": "EU27&UK",
						"type": "String"
					},
					{
						"name": "Russia",
						"type": "String"
					},
					{
						"name": "Japan",
						"type": "String"
					},
					{
						"name": "Brazil",
						"type": "String"
					},
					{
						"name": "ROW",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CarbonMapInpusBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Industry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CarbonMapInpusBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Industry.csv",
						"folderPath": "CM_CO2_Emissions/CM_2020_Sectoral",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "China",
						"type": "String"
					},
					{
						"name": "India",
						"type": "String"
					},
					{
						"name": "US",
						"type": "String"
					},
					{
						"name": "EU27&UK",
						"type": "String"
					},
					{
						"name": "Russia",
						"type": "String"
					},
					{
						"name": "Japan",
						"type": "String"
					},
					{
						"name": "Brazil",
						"type": "String"
					},
					{
						"name": "ROW",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CarbonMapInpusBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InternationalShipping')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CarbonMapInpusBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "InternationalShipping.csv",
						"folderPath": "CM_CO2_Emissions/CM_2020_Sectoral",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "World",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CarbonMapInpusBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Power')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CarbonMapInpusBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Power.csv",
						"folderPath": "CM_CO2_Emissions/CM_2020_Sectoral",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "China",
						"type": "String"
					},
					{
						"name": "India",
						"type": "String"
					},
					{
						"name": "US",
						"type": "String"
					},
					{
						"name": "EU27&UK",
						"type": "String"
					},
					{
						"name": "Russia",
						"type": "String"
					},
					{
						"name": "Japan",
						"type": "String"
					},
					{
						"name": "Brazil",
						"type": "String"
					},
					{
						"name": "ROW",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CarbonMapInpusBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Residential')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CarbonMapInpusBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Residential.csv",
						"folderPath": "CM_CO2_Emissions/CM_2020_Sectoral",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "China",
						"type": "String"
					},
					{
						"name": "India",
						"type": "String"
					},
					{
						"name": "US",
						"type": "String"
					},
					{
						"name": "EU27&UK",
						"type": "String"
					},
					{
						"name": "Russia",
						"type": "String"
					},
					{
						"name": "Japan",
						"type": "String"
					},
					{
						"name": "Brazil",
						"type": "String"
					},
					{
						"name": "ROW",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CarbonMapInpusBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('AzureBatch1_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch1_accessKey')]"
					},
					"batchUri": "[parameters('AzureBatch1_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch1_properties_typeProperties_poolName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CarbonMapInpusBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('CarbonMapInpusBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SummaryByCountry')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Aviation",
								"type": "DatasetReference"
							},
							"name": "Aviation"
						},
						{
							"dataset": {
								"referenceName": "GroundTransport",
								"type": "DatasetReference"
							},
							"name": "GroundTransport"
						},
						{
							"dataset": {
								"referenceName": "Industry",
								"type": "DatasetReference"
							},
							"name": "Industry"
						},
						{
							"dataset": {
								"referenceName": "Power",
								"type": "DatasetReference"
							},
							"name": "Power"
						},
						{
							"dataset": {
								"referenceName": "Residential",
								"type": "DatasetReference"
							},
							"name": "Resindential"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQLSummaryByCountry",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Unpivot1"
						},
						{
							"name": "Unpivot2"
						},
						{
							"name": "Unpivot3"
						},
						{
							"name": "Unpivot4"
						},
						{
							"name": "Unpivot5"
						},
						{
							"name": "Union1"
						},
						{
							"name": "Pivot1"
						}
					],
					"script": "source(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double,\n\t\tInternationalAviation as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Aviation\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> GroundTransport\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Industry\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Power\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Resindential\nAviation unpivot(output(\n\t\tCountry as string,\n\t\tValue as double\n\t),\n\tungroupBy({_c0}),\n\tlateral: true,\n\tignoreNullPivots: false) ~> Unpivot1\nGroundTransport unpivot(output(\n\t\tCountry as string,\n\t\tValue as double\n\t),\n\tungroupBy({_c0}),\n\tlateral: true,\n\tignoreNullPivots: false) ~> Unpivot2\nIndustry unpivot(output(\n\t\tCountry as string,\n\t\tValue as double\n\t),\n\tungroupBy({_c0}),\n\tlateral: true,\n\tignoreNullPivots: false) ~> Unpivot3\nPower unpivot(output(\n\t\tCountry as string,\n\t\tValue as double\n\t),\n\tungroupBy({_c0}),\n\tlateral: true,\n\tignoreNullPivots: false) ~> Unpivot4\nResindential unpivot(output(\n\t\tCountry as string,\n\t\tValue as double\n\t),\n\tungroupBy({_c0}),\n\tlateral: true,\n\tignoreNullPivots: false) ~> Unpivot5\nUnpivot1, Unpivot2, Unpivot3, Unpivot4, Unpivot5 union(byName: true)~> Union1\nUnion1 pivot(groupBy({_c0}),\n\tpivotBy(Country, ['China', 'India', 'US', 'EU27&UK', 'Russia', 'Japan', 'Brazil']),\n\t{} = round(sum(Value), 2),\n\tcolumnNaming: '$N$V',\n\tlateral: true) ~> Pivot1\nPivot1 sink(input(\n\t\tDATE as timestamp,\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tDATE = {_c0},\n\t\tIndia,\n\t\tUS,\n\t\t{EU27&UK},\n\t\tRussia,\n\t\tJapan,\n\t\tBrazil\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Aviation')]",
				"[concat(variables('factoryId'), '/datasets/GroundTransport')]",
				"[concat(variables('factoryId'), '/datasets/Industry')]",
				"[concat(variables('factoryId'), '/datasets/Power')]",
				"[concat(variables('factoryId'), '/datasets/Residential')]",
				"[concat(variables('factoryId'), '/datasets/SQLSummaryByCountry')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SummaryBySector')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Aviation",
								"type": "DatasetReference"
							},
							"name": "Aviation"
						},
						{
							"dataset": {
								"referenceName": "GroundTransport",
								"type": "DatasetReference"
							},
							"name": "GroundTransport"
						},
						{
							"dataset": {
								"referenceName": "Industry",
								"type": "DatasetReference"
							},
							"name": "Industry"
						},
						{
							"dataset": {
								"referenceName": "Power",
								"type": "DatasetReference"
							},
							"name": "Power"
						},
						{
							"dataset": {
								"referenceName": "Residential",
								"type": "DatasetReference"
							},
							"name": "Residential"
						},
						{
							"dataset": {
								"referenceName": "InternationalShipping",
								"type": "DatasetReference"
							},
							"name": "InternationalShipping"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQLSummaryBySector",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Sum1"
						},
						{
							"name": "Sum2"
						},
						{
							"name": "Sum3"
						},
						{
							"name": "Sum4"
						},
						{
							"name": "Sum5"
						},
						{
							"name": "Select1"
						},
						{
							"name": "Select2"
						},
						{
							"name": "Select3"
						},
						{
							"name": "Select4"
						},
						{
							"name": "Select5"
						},
						{
							"name": "Join1"
						},
						{
							"name": "Join2"
						},
						{
							"name": "Join3"
						},
						{
							"name": "Join4"
						},
						{
							"name": "Join5"
						},
						{
							"name": "Select6"
						},
						{
							"name": "Sum6"
						}
					],
					"script": "source(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double,\n\t\tInternationalAviation as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Aviation\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> GroundTransport\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Industry\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Power\nsource(output(\n\t\t{_c0} as date 'dd/MM/yyyy',\n\t\tChina as double,\n\t\tIndia as double,\n\t\tUS as double,\n\t\t{EU27&UK} as double,\n\t\tRussia as double,\n\t\tJapan as double,\n\t\tBrazil as double,\n\t\tROW as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Residential\nsource(output(\n\t\tDate as date 'yyyy-MM-dd',\n\t\tWorld as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> InternationalShipping\nAviation derive(Aviation = round(China+India+US+{EU27&UK}+Russia+Japan+Brazil+ROW+InternationalAviation, 2)) ~> Sum1\nGroundTransport derive(GroundTransport = round(China+India+US+{EU27&UK}+Russia+Japan+Brazil+ROW, 2)) ~> Sum2\nIndustry derive(Industry = round(China+India+US+{EU27&UK}+Russia+Japan+Brazil+ROW,2)) ~> Sum3\nPower derive(Power = round(China+India+US+{EU27&UK}+Russia+Japan+Brazil+ROW,2)) ~> Sum4\nResidential derive(Residential = round(China+India+US+{EU27&UK}+Russia+Japan+Brazil+ROW,2)) ~> Sum5\nSum1 select(mapColumn(\n\t\t{_c0},\n\t\tAviation\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nSum2 select(mapColumn(\n\t\t{_c0},\n\t\tGroundTransport\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select2\nSum3 select(mapColumn(\n\t\t{_c0},\n\t\tIndustry\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select3\nSum4 select(mapColumn(\n\t\t{_c0},\n\t\tPower\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select4\nSum5 select(mapColumn(\n\t\t{_c0},\n\t\tResidential\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select5\nSelect1, Select2 join(Select1@{_c0} == Select2@{_c0},\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin1, Select3 join(Select1@{_c0} == Select3@{_c0},\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join2\nJoin2, Select4 join(Select1@{_c0} == Select4@{_c0},\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join3\nJoin3, Select5 join(Select1@{_c0} == Select5@{_c0},\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join4\nJoin4, InternationalShipping join(Select1@{_c0} == Date,\n\tjoinType:'outer',\n\tbroadcast: 'auto')~> Join5\nJoin5 select(mapColumn(\n\t\tDate = Select1@{_c0},\n\t\tAviation,\n\t\tGroundTransport,\n\t\tIndustry,\n\t\tPower,\n\t\tResidential,\n\t\tInternationalShipping = World\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select6\nSelect6 derive(Globe = Aviation+GroundTransport+Industry+Power+Residential+InternationalShipping) ~> Sum6\nSum6 sink(input(\n\t\tDATE as timestamp,\n\t\tPower as double,\n\t\t{Ground Transport} as double,\n\t\tIndustry as double,\n\t\tResidential as double,\n\t\tAviation as double,\n\t\t{International Shipping} as double,\n\t\tGlobe as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Aviation')]",
				"[concat(variables('factoryId'), '/datasets/GroundTransport')]",
				"[concat(variables('factoryId'), '/datasets/Industry')]",
				"[concat(variables('factoryId'), '/datasets/Power')]",
				"[concat(variables('factoryId'), '/datasets/Residential')]",
				"[concat(variables('factoryId'), '/datasets/InternationalShipping')]",
				"[concat(variables('factoryId'), '/datasets/SQLSummaryBySector')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IndustryBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapBackup"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Industry.csv",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InternationalShippingBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapBackup"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "InternationalShipping.csv",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PowerBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapBackup"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Power.csv",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ResidentialBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapBackup"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Residential.csv",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALLCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CarbonMapInpusBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapInputs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "CM_CO2_Emissions",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "China",
						"type": "String"
					},
					{
						"name": "India",
						"type": "String"
					},
					{
						"name": "US",
						"type": "String"
					},
					{
						"name": "EU27&UK",
						"type": "String"
					},
					{
						"name": "Russia",
						"type": "String"
					},
					{
						"name": "Japan",
						"type": "String"
					},
					{
						"name": "Brazil",
						"type": "String"
					},
					{
						"name": "ROW",
						"type": "String"
					},
					{
						"name": "InternationalAviation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CarbonMapInpusBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALLCSVBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapBackup"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GroundTransportBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapBackup"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "GroundTransport.csv",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AviationBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapBackup"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Aviation.csv",
						"folderPath": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"container": "carbonbackup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLPreprocessedData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapPreprocess"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Country",
						"type": "text"
					},
					{
						"name": "Sector",
						"type": "text"
					},
					{
						"name": "Value",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Rate",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "preprocessed_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLPreprocessedDataBackup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapPreprocess"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Country",
						"type": "text"
					},
					{
						"name": "Sector",
						"type": "text"
					},
					{
						"name": "Value",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Rate",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "preprocessed_data_backup"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVPreprocessedData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CarbonMapPreprocess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "PreprocessedData.csv",
						"container": "carbondatacsvv1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Sector",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					},
					{
						"name": "Rate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPreprocessBackup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Backup CSV Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "CM_CO2_Emissions",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ALLCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ALLCSVBackup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Preprocess Data",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Backup SQL Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "echo \"test\"",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Backup SQL Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Backup CSV Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "Sector",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "Sector",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Rate",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLPreprocessedData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLPreprocessedDataBackup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Preprocessed Data to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Preprocess Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "Sector",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "Sector",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "float"
										},
										"sink": {
											"name": "Value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "float"
										},
										"sink": {
											"name": "Rate",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVPreprocessedData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLPreprocessedData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ALLCSV')]",
				"[concat(variables('factoryId'), '/datasets/ALLCSVBackup')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch1')]",
				"[concat(variables('factoryId'), '/datasets/SQLPreprocessedData')]",
				"[concat(variables('factoryId'), '/datasets/SQLPreprocessedDataBackup')]",
				"[concat(variables('factoryId'), '/datasets/CSVPreprocessedData')]"
			]
		}
	]
}